h1 {
    text-align: center;
    margin-bottom: 50px;
}


#lateral {
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    float: left;
    margin-left: 3%;
    width: 20%;
}

#contenido {
    background-color: #fff;
    border: 1px solid #ccc;
    float: left;
    margin-left: 7%;
    width: 67%;
}

ul {
    list-style: none;
    padding: 0;
}

#lateral h3 {
    color: #333;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}


ul li {
    text-align: center;
}

ul li a {
    color: #3b99f3;
    text-decoration: none;
}

agm-map {
    height: 300px;
  }

#logout {
    margin-left: 5px;
    margin-top: 5px;
}